.maingraph{
  min-width: 500px;
  min-height: 900px;
}
.editorpane{
  margin-top: 1em;

}
.graphpane{
  background-color: white;
}
body.body-override-bootstrap{
  background-color: #eee;
}

.function-multiple-form{
  min-height: 100px;
}

.bottom-panel-function .panel-title {
  color: papayawhip;
  font-size: 20px;
}

.bottom-panel-estimate .panel-title {
  color: blanchedalmond;
  font-size: 20px;
}

.bottom-panel-result .panel-title {
  color: lavenderblush;
  font-size: 20px;
}

.hover{
  z-index: 100;
  left: 500px;
  position: absolute;
  margin:0;
  padding: 0;
  background-color: rgba(180,180,180,0.1);
  font-size: 1.5em;
}
.hover form .form-control{
  height: 2em;
  border: none;
  background: rgba(255,255,255,0.8);
  border-radius: 0;
  font-size: 1em;
}
.hover form .form-control:focus{
  background-color: rgba(217,247,255,0.8);
  box-shadow: none;
}
