.row.app{
  height: 100%;
}

.maingraph {
  height: 60%;
}

.sidepane{
  height: 40%;
  background-color: #eee;
  padding: 1em
}

@media (min-width: 600px) {
  .maingraph {
    height: 100%;
  }
  .sidepane{
    height: 100%;
    padding-top: 6em;
  }
  .sidepane .nodeForm{
    position: absolute;
    top: 50%;
    margin-top: -50%;
    width: 80%;
  }
}

.graphpane{
  background-color: white;
}
body.body-override-bootstrap{
  background-color: #eee;
}

.function-multiple-form{
  min-height: 100px;
}

@media (max-width: 599px) {
  .hover{
    display: none
  }
}

.hover{
  z-index: 100;
  left: 500px;
  position: absolute;
  margin:0;
  padding: 0;
  background-color: rgba(180,180,180,0.1);
}

.nodeForm {
  font-size: 1.5em;
}
.nodeForm form .form-control.function-multiple-form{
  height: 12em;
}
.nodeForm form .form-control{
  height: 2em;
  border: none;
  background: rgba(255,255,255,0.8);
  border-radius: 0;
  font-size: 1em;
}
.nodeForm form .form-control:focus{
  background-color: rgba(217,247,255,0.8);
  box-shadow: none;
}
.newButtons{
  position: absolute;
  top: 0.5em;
  left: 2em;
}
.newButtons .btn-default{
  background-color: rgba(255,255,255, 0.6);
}
