@import './styles/variables.css';

.DistributionSummary {
  font-size: 1.8em;
}

.DistributionSummary .mean {
  float: left;
}

.DistributionSummary .stdev {
  margin-left: 0.25em;
  font-size: 0.75em;
  color: #666;
}

.DistributionSummary .stdev.asymmetric {
  margin-left: 0.6em;
  font-size: 0.48em;
  line-height: 1em;
  color: #666;
  float: left;
  margin-top: 1px;
}

.DistributionSummary .stdev.asymmetric .pm {
  margin-top: -0.4em;
}

.DistributionSummary .stdev.asymmetric .sym {
  min-width: 7px;
  float: left;
  font-size: 0.7em;
}

.DistributionSummary .PrecisionNumber {
  float: left;
}
