@import './styles/variables.css';

.DistributionSummary {
  font-size: 1.6em;
}

.DistributionSummary .mean {
  float: left;
  width: 100%;
  line-height: 0.9em;
}

.DistributionSummary .UncertaintyRange {
  font-size: 0.58em;
  color: #555;
  float: left;
  margin-top: 2px;
  margin-left: 0;
}

.DistributionSummary .PrecisionNumber {
  float: left;
}

.sup {
  font-size: 0.6em;
  position: relative;
  top: -0.5em;
}
