@import './styles/variables.css';


.guesstimate-logo-outer {
  width: 100%;
  text-align: center;
}

.guesstimate-logo {
  margin-top: 0.2em;
  font-size: 5em;
  border-radius: 0.3em;
  padding: 0.25em;
  font-family: Lato, Arial, sans-serif;
  display: inline-block;
}

.guesstimate-logo .guesstimate-icon {
  float: left;
  margin-right: 0.3em;
}

.guesstimate-logo .guesstimate-icon img{
  width: 0.8em;
}

.guesstimate-logo .guesstimate-name{
  color: $grey-2;
  margin-top: 0.23em;
  font-weight: 800;
  float: left;
}

.homePage {
  margin-top: 4em;
}

.homePage .guesstimate-slogan h2 {
  text-align: center;
  color: #666;
  font-weight: 400;
  font-size: 2.7em;
  font-family: Lato, Arial, sans-serif;
  margin-top: .5em;

}

.homePage .guesstimate-slogan .sideComment{
  color: $grey-2;
}

.homePage .guesstimate-slogan p {
  text-align: center;
  font-size: 2em;
  font-family: Lato, Arial, sans-serif;
  color: $grey-2;
  padding: 0 4em;
  font-weight: 400;
}

.homePage {
  text-align: center;
}

.homePage .cta {
  margin-top: 5em;
  text-align: center;
}

.wistia_responsive_padding {
  padding:56.25% 0 0 0;
  position:relative;
}

.wistia_responsive_wrapper { 
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.wistia_embed {
 display:inline-block;
  height:240px;
  width:415px;
  margin-top: 5em;
}

