@import './styles/variables.css';


.guesstimate-logo-outer {
  width: 100%;
  text-align: center;
}

.guesstimate-logo {
  margin-top: 0.2em;
  font-size: 5em;
  border-radius: 0.3em;
  padding: 0.25em;
  font-family: Lato, Arial, sans-serif;
  display: inline-block;
}

.guesstimate-logo img{
  width: 7em;
  max-width: 100%;
}

.guesstimate-logo .guesstimate-name{
  color: $grey-2;
  margin-top: 0.23em;
  font-weight: 800;
  float: left;
}

.homePage {
  margin-top: 4em;
  font-family: Lato, Arial, sans-serif;
}

.homePage img{
  max-width: 100%
}

.homePage .guesstimate-slogan h2 {
  text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 3em;
  margin-top: .5em;

}

.homePage .guesstimate-slogan .sideComment{
  color: $grey-2;
}

.homePage hr{
  border: 1px solid #eee;
  border-bottom: none;
  width: 100%;
  max-width: 520px;
  border-radius: 0;
  margin-top: 5em;
  margin-bottom: 2em;
}

.homePage .guesstimate-slogan p {
  text-align: center;
  font-size: 2em;
  font-family: Lato, Arial, sans-serif;
  color: $grey-2;
  padding: 0 4em;
  font-weight: 400;
}

.homePage {
  text-align: center;
}

.homePage .cta {
  margin-top: 5em;
  text-align: center;
}

.homePage .descriptions {
  margin-top: 5em;
  text-align: center;
}

.wistia_responsive_padding {
  padding:56.25% 0 0 0;
  position:relative;
}

.wistia_responsive_wrapper { 
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.wistia_embed {
 display:inline-block;
  height:240px;
  width:415px;
  margin-top: 5em;
}

.homePage > .sectionBenefits {
  background-color: $grey-1;
  padding: 3em 0;
  margin-top: 3em;
}

.homePage > .sectionBenefits h2 {
  color: #444;
  font-weight: 400;
  font-size: 2.3rem;
}

.homePage > .sectionBenefits p {
  color: $grey-2;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.homePage > .sectionBenefits i{
  font-size: 4.5em;
  opacity: 0.2;
}

.homePage > .sectionExamples {
  background-color: #DAE3ED;
  padding: 8em 0 6em;
}

.homePage > .sectionExamples h2 {
  color: #444;
  font-weight: 400;
  font-size: 2.3rem;
  margin-bottom: 0.5em;
  text-align: left;
  text-align: left;
}

.homePage > .sectionExamples p {
  color: #7E89AB;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: left;
}

.homePage > .sectionExamples p strong{
  color: #007BCA;
 font-weight: 400;
}

.homePage > .sectionExamples .description {
  margin-top: 1em;
}

.homePage > .sectionExamples .model {
  position: relative;
}

.homePage > .sectionExamples .finder{
  position: absolute;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

.homePage > .sectionExamples .finder .inner{
  background-color: rgba(116, 210, 61, 0.37);
  color: #359447;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  line-height: 22px;
  font-size: 21px;
}

.homePage > .sectionExamples .finder:hover .inner{
  background-color: rgba(116, 210, 61, 0.8);
  color: #065815;
  transition: 0.2s color ease, 0.2s background-color ease;
}
