@import './styles/variables.css';

.PrivacyToggle {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.PrivacyToggle.dropdown {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.PrivacyToggle li .info-section .warning{
  font-weight: 800;
}
