@import "styles/variables.css";

main.fluid {
  display: flex;
  flex-direction: column;
}

main.blue {
  background: linear-gradient(-140deg, #4dc7b7, #489acc);
}

main.grey {
  background: #f7f5f5;
}
