@import './styles/variables.css';

main.fluid{
  display: flex;
  flex-direction: column;
}

main.blue{
  background: linear-gradient(-140deg, #4DC7B7, #489ACC);
}

main.grey{
  background: #F7F5F5;
}
