.Scatter.SMALL {
  margin-left: 8px;
  height: 70px;
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 4px;
  padding: 3px 4px 6px 5px;
  background-color: rgba(189, 189, 189, 0.14);
}

.Scatter.LARGE svg path.dot{ fill: rgba(88, 173, 109, 0.12) }
.Scatter.SMALL svg path.dot{ fill: rgba(88, 173, 109, 0.18) }
.Scatter svg .axis line{ stroke: #CED6DC; }
.Scatter svg .axis .tick{ fill: #CED6DC; }
.Scatter svg .axis .domain{ fill:#E2EFE9; stroke: none; }

.metricCard.intermediate .Scatter.LARGE svg path.dot{
  fill: rgba(90, 113, 89, 0.12)
}

.metricCard.intermediate .Scatter.SMALL svg path.dot{
  fill: rgba(90, 113, 89, 0.18)
}

.Scatter svg .axis text{
  font-size: 0.9em;
  fill: #7A909A;
}

.Scatter svg text.axis.label{
  fill: #3C4448;
  font-size: 1em;
  font-weight: 700;
}
