.wrap {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.ComponentEditor {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.ComponentEditor .Component {
  padding: 5px;
  background-color: #ddd;
}

.container-fluid.full-width {
  width: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}


.pageHeader {

}

.Layout {
  display: flex;
  flex-direction: column;
  height: 100%
}

.navHelper {
  height: 100%;
}


