.wrap {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.container-fluid.full-width {
  width: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.navHelper {
  height: 100%;
}

body.remove-elev #_elev_io {
  display: none !important;
}

.MainConfirmation {
  background: white;
  padding: 3em 4em;
  border-radius: 2px;
  text-align: center;
  min-width: 12em;
  max-width: 600px;
}

.MainConfirmation .ui.button {
  margin-right: 1em;
}

.MainConfirmation h1 {
  margin-bottom: 2em;
  font-size: 1.6em;
  color: #333;
  line-height: 1.8em;
}
