.wrap {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.container-fluid.full-width {
  width: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.navHelper {
  height: 100%;
}


body.remove-elev #elevio-widget {
  display: none!important;
}
