$icon-font-path = '../../node_modules/bootstrap-styl/fonts/'
@import '../../node_modules/bootstrap-styl/stylus/bootstrap'
@import '../../node_modules/lato-font/css/lato-font.css';

body
  background: #EEEEEE;
  font-family: Lato;

.react-d3-histogram
  left: 0
  right: 0
  position: absolute
  z-index: -1
  height 100px
  svg
    width: 100%

.react-d3-histogram__bar rect
  fill: #DBE5EC;
  shape-rendering: crispEdges;

.metric:focus
  .react-d3-histogram__bar rect
    fill: #B9D2E4

.react-d3-histogram__bar text
  fill: none;

.react-d3-histogram__tick text
  font-size: 8px;
  fill: none

.metric:hover
  .react-d3-histogram__tick text
    fill: #aaa

.react-d3-histogram__x-axis path, .react-d3-histogram__x-axis line
  fill: none;
  shape-rendering: crispEdges;

.grid-metric
  height: 100%
  border-radius: 3px
  background-color #aaa


.refresh-calculation
  position: absolute
  top: 0
  right: 17px

h1
  font-size: 4em

.navbar-brand
  font-size: 1.5em

.repo-list
  padding: 8px

.home-page
  .repo-component
    border-top: 2px solid #ddd
    border-bottom: 2px solid #ddd
    margin: 2em 0 1em 0
    height: 400px

.navbar
  margin-bottom: 0
  border-radius: 0
  border: none
  background: #CBCED5
  .navbar-brand
    font-family: Lato;
    color: #41444E

.repo-component.row
  margin-right: 0
  margin-left: 0
  padding-top: 1em
