@import './styles/variables.css';

.tutorialPage {
  margin-bottom: 2em;
  font-size: 1.1em;
	min-height: 35em;

  .header {
		margin-bottom: 1em;
    text-align: center;
  }

  h3 {
    text-align: center;
    color: #666;
    margin: 0.3em auto;
  }

  p {
    text-align: justify;
  }

  .image {
    width: 100%;
    background-color: #dfe1e4;
    border-radius: 3px;
    margin-bottom: 2em;
  }

  img {
    display: block;
    max-height: 10em;
    max-width: 100%;
    margin: 0 auto;
  }

  table.ui {
    margin-top: 2.5em;

    td {
      padding: 0.5em 1em;
      line-height: 1.3em;

      .rowLabel {
        text-align: center;
        font-weight: bold;
      }

      .exampleFunction {
        background: #eee;
        border-radius: 0.2em;
        padding: 0.15em 0.3em;
        font-family: "Courier New", Courier, monospace;
        font-size: 0.9em;
      }

      .exampleInput {
        background-color: #c9e8c0;
        color: #084e14;
        padding: 0 0.1em;
        border-radius: 0.1em;
      }
    }
  }
}
