@import './styles/variables.css';

.tutorialPage {
  margin-bottom: 2em;
  font-size: 1.1em;

  .header {
    width: 100%;
    text-align: center;
  }

  h3 {
    text-align: center;
    color: #666;
    margin: 0.3em auto;
  }

  p {
    text-align: justify;
  }

  img {
    display: block;
    height: 12em;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  table {
    margin-right: auto;
    margin-left: auto;
    /*max-width: 40em;*/
    background: #ddd;
    border-radius: 0.2em;
    margin-bottom: 0.5em;

    td {
      padding: 0.5em 1em;
      text-align: justify;
      line-height: 1.1em;
      vertical-align: middle;

      .rowLabel {
        text-align: center;
        font-weight: bold;
      }

      .exampleFunction {
        background: #eee;
        border-radius: 0.2em;
        padding: 0.15em 0.3em;
        font-family: "Courier New", Courier, monospace;
        font-size: 0.9em;

        .exampleInput {
          background-color: #c9e8c0;
          color: #084e14;
          padding: 0 0.1em;
          border-radius: 0.1em;
        }
      }
    }
  }
}
