@import './styles/variables.css';

.tutorial {
  .header {
    padding-bottom: 1em;
  }

  .action-container {
    position: absolute;
    bottom: 1em;
  }

  .actions {
    width: 100%;
    margin: 0 auto;
    margin-right: -50%;
  }
}
