@import "styles/variables.css";

.Tutorial {
  float: left;
  background-color: rgba(240, 240, 240, 1);
  text-align: center;
  max-width: 42em;
  padding: 2em 2em 1em;
  border-radius: 0.2em;

  h2 {
    padding-bottom: 1em;
  }
}
