@import './styles/variables.css';

.metricModal {
  background-color: #eee;
  padding: 1.5em;
}

.metricModal h1{
  margin: 0.5em 0 0.5em;
  color: #555;
}

.metricModal h2{
  color: #555;
  font-size: 1.4em;
}

.metricModal h3{
  color: #999;
  font-size: 1.4em;
  font-weight: 200;
}

.metricModal .section{
  padding: 2em 1em 0;
  margin: 2em 0;
}

.metricModal .island {
  background-color: white;
  border-radius: 3px;
}

.metricModal .distributionSection .island{
  padding-top: 1em;
}

.metricModal .distributionSection .subsection{
  padding: 1em;
}

.metricModal .distributionSection .mean.subsection .distribution-summary{
  margin-top: 3em;
  font-size: 2.4em;
}

.metricModal .section-small{
  background-color: white;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 0;
}

.metricModal .distributionSection{
  margin: 1.5em 0 0;
  min-height: 18em;
}

.metricModal .editingInputSection {
  margin: 1.5em 0;
}
