@import './styles/variables.css';

.metricCard {
  border-radius: 2px;
  max-width: 30em;
  white-space: normal;
  z-index: 0;
  font-size: 1.25em;
  position: relative;
  font-weight: 300;
  width: 100%;
  display:flex;
  flex-direction: column;
  cursor: move;
}

.metricCard:not(.titleView):not(.display) {
  border-bottom: 2px solid #ccc;
}

.selected .metricCard:not(.display) {
  border-color: $blue-1;
}

.metricCard:not(.titleView) {
  background-color: rgba(255,255,255,0.975);
}

.row > .sqwish-right {
  padding-right: 0
}

.row > .sqwish-middle {
  padding-left: 0.2rem;
  padding-right: 0.8rem;
}

.hovered.selected .metricCard {
  background-color: white;
}

.hovered .metricCard {
  background-color: #f4f4f4;
}

.metricCard > .section {
  position: relative;
  flex: 1;
  padding: 0.35em;
}

.metricCard .react-d3-histogram {
  position: absolute;
  z-index: -1;
  left: -5px;
  width: 100%;
}

.metricCard .section.editing {
  border-top: 1px solid #ddd;
  border-radius: 0 0 2px 2px;
}

.metricCard .DistributionSummary {
  margin: 5px 0 12px 2px;
  font-weight: 500;
  font-family: Lato, Arial, sans-serif;
}

.metricCard:focus {
  outline: none;
}

.ReactModal__Overlay--after-open {
   z-index: 5;
}

.ReactModal__Overlay--after-open {
  overflow: auto;
}
