.metric {
  cursor: auto;
  z-index: 0;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  min-height: 90px;
  background: #ECECED;
  border-radius: 2px;
  padding: 0.5em;
  font-weight: 300;
}

.metric &:focus {
  outline: none;
  background-color: #D0ECFD;
}

input {
  text-align: center;
}

.name input {
  background-color: rgba(0,0,0,0);
}

.row1{
  margin-top: 0.20em;
}

.form-group {
  margin-bottom: 0;
}
.name {
  color: #595F6F;
}

.mean {
  font-weight: 500;
  font-size: 1.5em;
  color: #595F6F;
}
.function-id {
  font-size: 1em;
  color: blue;
}
