@import './styles/variables.css';

.metricCard {
  background-color: rgba(255,255,255,1);
  border-bottom: 2px solid #ccc;
  border-radius: 3px;
  max-width: 30em;
  white-space: normal;
  z-index: 0;
  font-size: 1.25em;
  position: relative;
  font-weight: 300;
  width: 100%;
  display:flex;
  flex-direction: column;
  cursor: pointer;
}

.selected .metricCard{
  cursor: auto;
}

.hovered.selected .metricCard {
  background-color: white;
}

.hovered .metricCard {
  background-color: #f4f4f4;
}

.metricCard > .section {
  position: relative;
  flex: 1;
  padding: 0.5em;
}

.metricCard .react-d3-histogram {
  position: absolute;
  z-index: -1;
  left: -5px;
  width: 100%;
}

.metricCard .section.editing {
  border-top: 1px solid #ddd;
  border-radius: 0 0 2px 2px;
}

 .selected .metricCard {
  border-color: $blue-1;
}

.row1{
  margin-top: 0.60em;
  padding-left: 0.5em;
}

.metricCard .row1 > .content {
  width: 80%;
}

.metricCard .row1 > .sidebar {
  width: 10%;
}

.metricCard:focus {
  outline: none;
}

.name input {
  background-color: rgba(0,0,0,0);
}


.distribution-summary {
  font-size: 1.6em;
}

.distribution-summary .mean {
  font-weight: 500;
  font-size: 1.5em;
  color: $black-1;
}

.distribution-summary .stdev {
  margin-left: 0.25em;
  font-size: 0.75em;
  color: #aaa;
}


.form-group {
  margin-bottom: 0;
}
.name {
  color: $grey-2;
}

.function-id {
  font-size: 1em;
  color: blue;
}

.ReactModal__Overlay--after-open {
   z-index: 5;
}

.sampleValues {
  max-height: 500px;
  overflow: auto;
  background-color: $grey-1;
  padding: 3px 15px;
  border-radius: 3px;
}

.sampleValues ul {
   list-style-type: none;
   padding: 0;
}
