@import './styles/variables.css';

.fork-button {
  cursor: pointer;
  float: left;
}

.header .saveMessage {
  float: left;
  margin-top: 8px;
  color: $grey-1;
  padding: 0 15px;
}

.header .saveMessage .label{
  margin-top: -10px;
}
