@import './styles/variables.css';

.spaceShow {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #DFE1E4;
}

.spaceShow.screenshot {
  background-color: #C2CDD6;
}

.canvas-space {
  flex: 1;
  max-height: 100%;
}

.canvas-space:not(.overflow-hidden) {
  overflow: auto;
}

.canvas-space.overflow-hidden {
  overflow: hidden;
}

.hero-unit {
  padding-top: 0.8em;
  background: #2583A7;
  background: linear-gradient(-90deg, #2577A7, #2583A7);
  width: 100%;
  box-sizing: initial;
}

.hero-unit .ui.image.label{
  color: white;
  background: rgba(255,255,255,0.2);
  margin-top: 4px;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-right: 0;
  font-size: 0.92em;
  float: right;
}

.hero-unit .ui.image.label img{
  height: 2.1em !important
}

@media only screen and (max-width: 767px) {
  .hero-unit {
    padding-top: 0.5em;
  }

  .header-actions {
    display: none;
  }

  .hero-unit .header {
    margin-right: 10px;
  }

  .hero-unit .ui.image.label {
    margin-top: 0px;
    font-size: 0.7em;
    float: right;
  }
}

.hero-unit .ui.button.blue {
  background-color: $grey-2;
}

.hero-unit {
  color: white;
}

.hero-unit .text-editable:hover {
  background-color: rgba(0,0,0,0.2);
}

.hero-unit .text-editable.default-value {
  color: #ccc;
}

.hero-unit h1 {
  font-size: 1.7em;
  padding: 0.05em 0.38em;
  border-radius: 3px;
  font-family: Lato;
  font-weight: 500;
  float: left;
  margin: 0.1em 1em 0.3em 0;
}

.hero-unit .header-name {
  max-width: 60%;
  float: left;
}

@media only screen and (max-width: 767px) {
  .hero-unit h1 {
    font-size: 1.2em;
    padding: 0 0 0 0.4em;
    margin-right: 0em;
  }
  .hero-unit .header-name {
    max-width: 100%;
  }
}

.hero-unit .dd-menu-left {
  float: left
}

.spaceShow > .content {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  flex: 1;
}

.SpaceSidebar {
  max-height: 100%;
  min-width: 22em;
  width: 22em;
  z-index: 2;
  margin: 24px 15px 14px 14px;
  overflow: auto;

  span.closeSidebar {
    float: right;
  }
}

.SpaceSidebar-inside {
  padding: 1em 1em 0.5em 1em;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  float: left;
  width: 100%;
}

.ClosedSpaceSidebar{
  background-color: #DFE1E4;
  padding-top: 0.5em;
  padding-left: 3px;
}

.ClosedSpaceSidebar .open.open{
  background-color: $blue-1;
  padding: 7px 7px;
}


.SpaceSidebar .SpaceSidebar-header{
  width: 100%;
  text-align: center;
  position: relative;
  color: #777;
  min-height: 2em;
}

.SpaceSidebar .SpaceSidebar-header .description-icon.fa{
  float: left;
  font-size: 1.8em;
  margin-top:8px;
}

.SpaceSidebar .SpaceSidebar-header .fa{
  font-size: 1.25em;
}

.SpaceSidebar .SpaceSidebar-header .button-close {
  float: right;
  font-size: 1.3em;
}

.SpaceSidebar:not(:hover) .SpaceSidebar-header .button-close {
  display: none;
}

.SpaceSidebar .SpaceSidebar-header .button-close:not(:hover) {
  color: #bbb;
}

.SpaceSidebar .SpaceSidebar-body {
  float: left;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.SpaceSidebar .SpaceSidebar-body .ClickToEdit {
  padding: 0;
}

.SpaceSidebar .SpaceSidebar-body .ClickToEdit .EditingMode textarea {
  min-height: 30em;
}

.small-tooltip.small-tooltip.small-tooltip {
  background: rgba(60, 64, 68, 0.95);
  opacity: 1;
  padding: 4px 13px;
  border-radius: 2px;
  transition: none;
  &.place-bottom {
    margin-top: 2px;
  }

  &.place-bottom:after {
    border-bottom: 6px solid rgba(60, 64, 68, 0.95);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: -6px;
    margin-left: -6px;
  }
}

.hero-unit .header .dropDown-relative {
  float: right;
}

.header .dropDown-relative .space-header-action {
  color: white;
  float: right;
  background: rgba(255,255,255,0.1);
  padding: 0.3em 0.7em;
  border-radius: 3px;
  margin: 4px 0 6px 8px;
}

.header .dropDown-relative .space-header-action:hover {
  background: rgba(255,255,255,0.2);
}

.header .dropDown-relative .space-header-action:active {
  background: rgba(255,255,255,0.3);
}

.SpaceRightSidebar {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1.25em;
  width: 25em;
  overflow-y: auto;
  background: rgba(255,255,255,0.9);
  border-radius: 0;
  border-left: 1px solid #ccc;
}

.SpaceRightSidebar h2 {
  color: #476b82;
}

.SpaceRightSidebar--divider {
    margin: 0;
    border: none;
    border-bottom: 2px dotted #e8e8e8;
}

.SpaceRightSidebar--padded-area {
  padding: 1em 1em;
}
