@import './styles/variables.css';

.hero-unit {
  padding: 2em 0 .5em;
  background-color: $blue-1;
}

.hero-unit .ui.button.blue {
  background-color: $grey-2;
}

.hero-unit {
  color: white;
}

.hero-unit h1 {
  font-size: 2em;
  font-family: Lato;
  font-weigth: 500;
  float: left;
  margin-right: 1em;
}

.hero-unit a {
  color: white;
  padding: 0.5em 0.95em;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 10px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
  float:left;
}
.hero-unit a:hover{
  color: white;
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

.hero-unit .dd-menu-left {
  float: left
}

