@import './styles/variables.css';

.spaceShow {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #DFE1E4;
}

.spaceShow.screenshot {
  background-color: #C2CDD6;
}

.canvas-space {
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: auto;
}

.hero-unit {
  padding-top: 2em;
  padding-bottom: 0.5em;
  background-color: $blue-1;
  width: 100%;
  box-sizing: initial;
}

@media only screen and (max-width: 767px) {
  .hero-unit {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .header-actions {
    display: none;
  }
}

.hero-unit .ui.button.blue {
  background-color: $grey-2;
}

.hero-unit {
  color: white;
}

.hero-unit .text-editable:hover {
  background-color: rgba(0,0,0,0.2);
}

.hero-unit .text-editable.default-value {
  color: #ccc;
}

.hero-unit h1 {
  font-size: 2em;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: Lato;
  font-weight: 500;
  float: left;
  margin-right: 1em;
}

.hero-unit .header-name {
  max-width: 60%;
  float: left;
}

@media only screen and (max-width: 767px) {
  .hero-unit h1 {
    font-size: 1.2em;
    padding: 0 0 0 0.4em;
    margin-right: 0em;
  }
  .hero-unit .header-name {
    max-width: 100%;
  }
}

.hero-unit .header-actions {
  margin-top: 0.5em;
  float: left;
}

.hero-unit a.space-header-action {
  color: white;
  padding: 0.5em 0.95em;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 10px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
  font-size: 1.2em;
  float:left;
}
.hero-unit a.space-header-action:hover{
  color: white;
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

.hero-unit .dd-menu-left {
  float: left
}

.spaceShow > .content {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  flex: 1;
}

.SpaceSidebar {
  max-height: 100%;
  min-width: 22em;
  width: 22em;
  z-index: 2;
  margin: 24px 15px 14px 14px;
  overflow: auto;
}

.SpaceSidebar-inside {
  padding: 0.5em 1em;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  float: left;
  width: 100%;
}

.ClosedSpaceSidebar{
  background-color: #DFE1E4;
  padding-top: 0.5em;
  padding-left: 3px;
}

.ClosedSpaceSidebar .open.open{
  background-color: $blue-1;
  padding: 7px 7px;
}


.SpaceSidebar .SpaceSidebar-header{
  width: 100%;
  text-align: center;
  position: relative;
  color: #777;
  min-height: 2em;
}

.SpaceSidebar .SpaceSidebar-header .description-icon.fa{
  float: left;
  font-size: 1.8em;
  margin-top:8px;
}

.SpaceSidebar .SpaceSidebar-header .fa{
  font-size: 1.25em;
}

.SpaceSidebar .SpaceSidebar-header .button-close {
  float: right;
  font-size: 1.3em;
}

.SpaceSidebar:not(:hover) .SpaceSidebar-header .button-close {
  display: none;
}

.SpaceSidebar .SpaceSidebar-header .button-close:not(:hover) {
  color: #bbb;
}

.SpaceSidebar .SpaceSidebar-body {
  float: left;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.SpaceSidebar .SpaceSidebar-body .ClickToEdit {
  padding: 0;
}

.SpaceSidebar .SpaceSidebar-body .ClickToEdit .EditingMode textarea {
  min-height: 30em;
}
