.grid
  table
    width: 100%
    table-layout: fixed
    tr
      width 100%
    td
      padding 5px 10px;
      .cell
        .cell-full
          width 100%
          height 100%j
        border-radius: 3px
        width: 100%;
        height: 90px
        &:focus
          outline none
        &.empty:focus
          background-color: #D6DCFF
        &:hover
          background-color: #ddd;
