@import "./styles/variables.css";

.ClickToEdit {
  float: left;
  width: 100%;
  padding-left: 0.5em;
}

.ClickToEdit > .BlankMode {
  padding: 0.5em;
  border-radius: 3px;
  color: #999;
  text-decoration: underline;
}

.ClickToEdit > .BlankMode:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
}

.ClickToEdit .EditingMode .submit-section {
  margin-top: 10px;
}

.ClickToEdit .EditingMode .submit-section .button {
  float: left;
}

a.markdown-help {
  float: right;
  font-size: 2.5em;
  color: #aaa;
  cursor: pointer;
}

a.markdown-help:hover {
  color: #777;
}

.ClickToEdit .EditingMode .submit-section .submit-section-close {
  float: left;
  margin-top: 0.2em;
}

.ClickToEdit .EditingMode .submit-section .submit.button {
  margin-right: 1em;
}

.ClickToEdit .EditingMode textarea:focus {
  outline: none;
}

.ClickToEdit .EditingMode textarea {
  background-color: white;
  border: 2px solid $blue-1;
  border-radius: 3px;
  width: 100%;
  min-height: 120px;
  padding: 0.5em;
}

.ClickToEdit .ViewingMode .editLink {
  color: #666;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
}

.ClickToEdit .ViewingMode .editLink:hover {
  color: #000;
  background-color: #999;
}

.ClickToEdit .ViewingMode .header {
  color: #666;
  margin-bottom: 0.5em;
}

.ClickToEdit .ViewingMode .content {
  color: #333;
}
