@import './styles/variables.css';

.PrivacyToggle {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 380px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  float: left;
}

.PrivacyToggle li{
  padding: 0.5em;
  float: left;
  width: 100%;
}

.PrivacyToggle li:not(.selected){
  cursor: pointer;
}


.PrivacyToggle li .icon-section{
  width: 18%;
  float: left;
  text-align: center;
}

.PrivacyToggle li .icon-section .fa{
  font-size: 2.5em;
  color: $grey-2;
  margin-top: 8px;
}

.PrivacyToggle li .info-section{
  width: 80%;
  float: left;
}

.PrivacyToggle li .info-section h3{
  font-size: 1.1em;
  margin-bottom: 3px;
}

.PrivacyToggle li .info-section .warning{
  font-weight: 800;
}

.PrivacyToggle li.selected{
  background-color: $grey-1;
}

.PrivacyToggle li:hover{
  background-color: $blue-2;
}
