.GeneralContainer {
  margin-top: 4em;
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .GeneralContainer {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
