@import './variables.css';

.SpaceList {
  border-left: 1px solid $grey-1;
  padding-left: 10px;
  float: left;
  width: 100%;
}

.SpaceList > .nextPage {
  text-align: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.SpaceList > .nextPage .ui.button {
  background-color: $grey-1;
}

.SpaceList > .nextPage .ui.button:hover {
  background-color: $grey-2;
}
