@import './styles/variables.css';

footer {
  background-color: $grey-5;
  margin-top: 4em;
}

footer .container-fluid {
  padding: 3em 0 2em;
}

footer strong {
  margin-bottom: 3em;
  color: $grey-2;
}

footer li {
  margin-bottom: 0.75em;
  font-size: 1.1em;
}

footer li:first-child {
  margin-bottom: 1em;
}

footer a {
  color: $grey-2;
  font-weight: 300;
}
