@import './styles/variables.css';

.Card {
  background-color: rgba(255,255,255,1);
  border-radius: 0.3em;
  margin-top: 2px;
  padding: 0.5em 0;
  float: left;
  position: relative;
}

.Card.shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
.Card.narrow {
  min-width: 18em;
}

.Card.normal {
  min-width: 30em;
}

.Card .ui.form textarea {
  font-size: 1.2em;
  background-color: $grey-1;
  margin-bottom: 2em;
}

.Card h3 {
  color: #888;
  font-weight: 200;
  margin: 0;
}

.Card .section {
  margin: 1em 0;
}

.Card .header-divider{
  padding: 0.5em 0 0.3em 1em;
  margin-bottom: 0.25em;
  float: left;
  width: 100%;
}

.Card a {
  cursor: pointer;
}

.Card hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid $grey-1;
}

.Card-content {
  width: 100%;
  position: relative;
}

.Card-header {
  text-align: center;
  margin: 0.25em 0 0.75em;
}

.Card .Card-close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding-top: 0px;
}

.Card .Card-content .Card-close:hover {
  color: #666;
}

.Card ol, ul{
  list-style: none;
  padding: 0;
  margin: 0 0 0.25em 0;
  float: left;
  width: 100%;
}

.Card li .row{
  margin: 0
}

.Card li .action{
  padding: 0.5em 0;
  border-radius: 0;
}

.Card-body.padded {
  padding: 0 1em;
}

.Card li .action.selected{
  background-color: $grey-1;
}

.Card li .action.selected .text{
}

.Card li a{
  width: 100%;
  float: left;
  font-size:1.25em;
}

.Card li .icons{
  text-align: center;
  color: $grey-2;
}

.Card li .icons img{
  width: 35px;
}

.Card li .text{
  color: #555;
  font-weight: bold;
}

.Card li a:hover{
  background-color: $blue-2;
}

