.canvas-space
  padding 1em 0.5em
  background-color: white
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  ::selection
    background-color: none
  .stdev
    margin-left 0.25em
    font-size 0.75em
    color #aaa
  .metric
    position relative
    height 100%
    background #ECECED
    border-radius 2px
    padding 0.5em
    font-family: Lato-Light;
    .row1
      margin-bottom 0.25em
    .form-group
      margin-bottom 0
    input
      max-width 100%
      padding 0
      font-size inherit
      height 1.4em
      min-height 31px
      box-shadow none
      border-radius 0px
      border none
      background-color rgba(0,0,0,0)
      border-bottom 1px solid #aaa
      &:focus
        border none
        box-shadow none
        outline none
        border-bottom 1px solid #4494E6
    &:focus
      outline none
      background-color: #D0ECFD
    .name
      font-size: 1.25em
      color: #595F6F;
    .median
      font-size: 2em
      color: #595F6F;
    .function-id
      font-size: 1.25em
      color blue
