@import './styles/variables.css';

.MetricName {
  @mixin small-input;
}

.MetricName:not(.isClickable):hover {
  background-color: $transparent-background;
}

.MetricName:not(.isClickable) {
  cursor: pointer;
}

.output .MetricName {
   font-weight: 500;
}

.titleView .MetricName {
  color: #3C4F67;
  font-weight: 600;
}

.MetricCardViewSection.display .MetricName {
  overflow: hidden;
}

.metricCard.display .titleView .MetricName {
  color: #3C3F44;
}

.output .MetricName .static {
   font-weight: 500;
}

.titleView .MetricName .static{
  color: #3C4F67;
  font-weight: 600;
}

.MetricCardViewSection.display .MetricName .static{
  overflow: hidden;
}

.metricCard.display .titleView .MetricName .static{
  color: #3C3F44;
}
