@import './styles/variables.css';

.PlanIndex {
  color: white;
  font-family: 'Lato';
}

.PlanIndex .header{
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

.PlanIndex .header h1{
  font-size: 3em;
  opacity: 0.7;
  font-weight: 300;
}

.PlanIndex > .cards {
  padding: 0 6em;
}

.PlanCard {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #eee;
  text-align: center;
  padding: 1.5em 0;
  margin: 3em 0;
  font-family: 'Lato';
  color: #888;
  font-size: 1.5em;
  font-weight: 300;
}

.PlanCard h2 {
  margin-bottom: 2em;
  color: #333;
  margin-bottom: 1.5em;
  font-weight: 500;
  font-size: 1.5em;
}

.PlanCard li {
  margin-bottom: 1em;
}

.PlanCard li strong{
  color: $blue-1;
}

.PlanCard ul {
  margin-bottom: 1.5em;
  list-style: none;
  padding: 0;
  width: 100%;
}

.PlanCard-Cost {
  margin-bottom: 3em;
}

.PlanCard-Cost sup {
  top: -0.7em;
  font-size: 1.2em;
  font-weight: 300;
}

.PlanCard-Cost .number {
  font-size: 2.5em;
  color: #333;
  font-weight: 400;
}

.PlanCard-Cost .per-month {
  font-weight: 300;
  margin-top: 7px;
}

.PlanCard-Cost .dollar-sign {
  font-size: 0.8em;
  margin-top: -5em;
}

.PlanIndex .portal-message-container {
  width: 100%;
  padding: 1em 18em;
}

.PlanIndex .portal-message {
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  padding: 1em;
  color: #333;
  border-radius: 3px;
  text-align: center;
}

.PlanIndex .portal-message h2{
  font-weight: 500;
  margin-bottom: 1em;
}
