@import "./styles/variables.css";
$main-grey: #4e4e4e;

.PlanIndex {
  color: $main-grey;
  font-family: "Lato";

  .header {
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
    h1 {
      font-size: 2.5em;
      font-weight: 500;
    }
    h2 {
      font-weight: 300;
    }
  }

  .Plans {
    float: left;
  }

  .Plans--outer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portal-message-container {
    width: 100%;
    padding: 1em 18em;
  }

  .portal-message {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 1em;
    color: $main-grey;
    border-radius: 3px;
    text-align: center;

    h2 {
      font-weight: 500;
      margin-bottom: 1em;
    }
  }

  .questions {
    margin-top: 8em;
    color: $main-grey;

    .question {
      margin-bottom: 5em;
      padding: 0 3rem;

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1.15em;
      }
    }
  }
}

.PlanCard {
  background-color: white;
  border-radius: 0.3em;
  border: 1px solid #d8d8d8;
  text-align: center;
  padding: 1.5em 0;
  margin: 3em 0;
  font-family: "Lato";
  color: #888;
  font-size: 1.5em;
  font-weight: 300;
  width: 15em;
  margin-right: 3em;
  float: left;
  &:last-child {
    margin-right: 0;
  }

  h2 {
    margin-bottom: 2em;
    color: $main-grey;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 1.5em;
  }

  h2 {
  }

  li {
    margin-bottom: 1em;
  }

  li strong {
    color: $blue-1;
  }

  ul {
    margin-bottom: 3em;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .promotion {
    color: #1bb732;
    font-weight: 500;
    margin-bottom: 1em;
  }

  .PlanCard-Cost {
    padding-bottom: 1em;
    min-height: 5.5em;

    sup {
      top: -0.7em;
      font-size: 1.2em;
      font-weight: 800;
      color: $main-grey;
    }

    .number {
      font-size: 2.5em;
      color: $main-grey;
      font-weight: 800;
    }

    .per-month {
      font-weight: 500;
      margin-top: 0.75em;
      font-size: 1em;
      line-height: 1.3em;
    }

    .dollar-sign {
      font-size: 0.8em;
      margin-top: -5em;
    }
  }
}
