@import "./variables.css";

/* src/components/metrics/card/SensitivitySection/style.css */
.SensitivitySection.SMALL {
  height: 70px;
  padding-left: 5px;
  padding-right: 4px;
  padding: 3px 4px 6px 5px;
  background-color: rgba(189, 189, 189, 0.14);
  flex: 0;
  position: relative;
}

.SensitivitySection.LARGE svg path.dot {
  fill: rgba(88, 173, 109, 0.12);
}
.SensitivitySection.SMALL svg path.dot {
  fill: rgba(88, 173, 109, 0.18);
}
.SensitivitySection svg .axis line {
  stroke: #ced6dc;
}
.SensitivitySection svg .axis .tick {
  fill: #ced6dc;
}
.SensitivitySection svg .axis .domain {
  fill: #e2efe9;
  stroke: none;
}

.intermediate .SensitivitySection.LARGE svg path.dot {
  fill: rgba(90, 113, 89, 0.12);
}

.intermediate .SensitivitySection.SMALL svg path.dot {
  fill: rgba(90, 113, 89, 0.18);
}

.SensitivitySection svg .axis text {
  font-size: 0.9em;
  fill: #7a909a;
}

.SensitivitySection svg text.axis.label {
  fill: #3c4448;
  font-size: 1em;
  font-weight: 700;
}
