@import "./variables.css";
@import "./overrides.css";

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: $grey-2;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: $grey-2;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-track:corner {
  background-color: black;
}
