@import './variables.css';
@import './overrides.css';

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: $grey-1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: $grey-1;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-track:corner {
  background-color: black;
}


