$blue-1: #6CAED1;
$blue-2: #d0ecfd;
$blue-3: #D4DEEA;

$black-1: #111111;
$grey-1: #e7edf3;
$grey-2: #7089a9;
$grey-4: #aaa;


$transparent-background: rgba(0,0,0,0);
$editing-background: $grey-1;

@define-mixin hover-input {
  background-color: $transparent-background;
  box-shadow: none;
  border: none;
  border-radius: 1px;
  outline: none;
  resize: none;
  transition: background-color .3s;
  padding: 0.2em;
  max-width: 100%;
  &:not(:focus){
    cursor: pointer;
  }
  &:hover:not(:focus) {
    background-color: $editing-background;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    background-color: #D1D9E2;
    color: #2D3137;
  }
}
