@import "styles/variables.css";

.FirstSubscription {
  text-align: center;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FirstSubscription .large-icon {
  font-size: 18em;
  color: $grey-2;
  opacity: 0.2;
}

.FirstSubscription .NewOrder {
  float: left;
  flex-direction: column;
}

.FirstSubscription .GeneralMessage {
  background-color: $grey-5;
  min-height: 12em;
  width: 100%;
  border-radius: 3px;
  color: $grey-2;
  padding: 3em 2em;
  margin-top: 1em;
}

.FirstSubscription .GeneralMessage .button {
  margin-top: 2em;
}
