.FirstSubscription {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FirstSubscription .NewOrder{
  float: left;
  flex-direction: column;
}
