.ComponentEditor > .reference {
  padding: 4em 10px;
}

.ComponentEditor.grey .Component {
  background: #f7f5f5;
}

.ComponentEditor.blue .Component {
  background: linear-gradient(-140deg, #4dc7b7, #489acc);
}

.ComponentEditor .Component {
  padding: 5px;
}
