.ComponentEditor > .reference {
  padding: 4em 10px;
}

.ComponentEditor.grey .Component{
  background: #F7F5F5;
}

.ComponentEditor.blue .Component{
  background: linear-gradient(-140deg, #4DC7B7, #489ACC);
}

.ComponentEditor .Component {
  padding: 5px;
}

