@import './styles/variables.css';

.FactsTab {
  margin-top: 7em;
  width: 100%;
  width: 38em;

  .Fact {
    padding: .4em .5em;
    margin: .2em 0;
    background-color: white;
    float: left;
    width: 100%;
    border-radius: 2px;

    &:hover {
      background-color: #fbfbfb;
    }

    .section-simulation {
       float: left;
       width: 9em;
    }

    .section-name {
       float: left;
       width: 23em;
    }

    .section-help {
       float: right;
       width: 4em;
    }

    .simulation-sample {
      position: relative;

      .histogram {
        left: 20%;
        height: 35px;
        position: absolute;
        bottom: -.4em;
        right: 0;
        z-index: 0;
        .react-d3-histogram__bar rect {
          fill: rgb(231, 234, 236);
        }
      }

      .simulation-summary {
        float: left;
        margin-top: 2px;
        position: relative;
        z-index: 1;
        .DistributionSummary .mean {
          font-weight: 800;
          color: #607580;
        }
        .DistributionSummary .UncertaintyRange {
           color: #8c8c8c;
        }
      }
    }

    .variableName {
      font-size: 1.3em;
      font-weight: 800;
      float: left;
      margin-right: 100%;
      color: #116f9e;
      .field input {
        color: #116f9e;
      }

      .prefix {
        margin-right: 1px;
      }
    }

    .options {
      float: left;
    }

    .name {
      font-size: .9em;
      color: #888;
      letter-spacing: 0.36px;
      float: left;
      margin-top: .25em;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .ui.tiny.button {
     padding: .55em 1em;
     border-radius: 2px;
  }
}

.Fact.new.ui.form {
  .section-simulation {
    padding-right: .9em;
  }

  .variableName {
    width: 100%;
    .field {
      position: relative;

      .prefix {
        color: #888;
        position: absolute;
        left: .4em;
        top: .4em;
        font-size: 1.2em;
      }

      input {
        padding-left: 1.4em;

      }
    }
  }

  .name {
    width: 100%;
    textarea {
      font-size: 1rem;
    }
  }

  input, textarea {
    border: none;
    padding: .4em .4em;
    border-radius: 2px;

    background-color: #eee;

    &:hover {
      background-color: #ddd;
    }

  }
}
