.FactGraph {
  float: left;
  font-size: .8em;
  min-width: 100%;
}

.spaceNode {
  padding: 1em;
  color: #435870;
  font-size: 1.3em;
  text-align: center;
  background-color: white;
  margin: 4px;
  width: 100%;
  background-color: #acbfcf;
  border-radius: 1px;
  transition: background-color .5s;
  &:hover {
    background-color: #82a1bb;
    color: #283b50;
  }
}

.FactGraph .FlowGridCell.FlowGridCell {
  width: 150px;
  min-width: 150px;
}

.FactGraph .FlowGridCell.hovered .FlowGridEmptyCell {
  background-color: none;
}
