.userShow .main-user-tag {
  text-align: center;
  margin-right: 0.5em;
  margin-top: 0.25em;
}

.userShow .main-user-tag img{
  width: 8em;
  height: 8em;
  border-radius: 0.5em;
  margin-bottom: 10px;
}
