.UserShow .main-user-tag {
  text-align: center;
  margin-bottom: 2em;
}

.UserShow .main-user-tag img{
  width: 8em;
  height: 8em;
  border-radius: 8em;
}

.UserShow .main-user-tag h1{
  margin-bottom: 0;
  margin-top: 0.5rem;
}
