@import './styles/variables.css';

.PageHeader:not(.isBare){
  border-bottom: 1px solid $grey-1;
}

.navbar-brand  {
  float: left;
  margin-top: 0.2em;
  font-size: 1.8em;
  border-radius: 0.3em;
  padding: 0.25em;
  font-family: Lato;
  font-weight: 500;
}

.navbar-brand:hover  {
  background-color: $grey-1;
}

.navbar-brand .guesstimate-icon {
  float: left;
  margin-right: 0.3em;
  height: 1.2em;
  display: none;
}

.navbar-brand .guesstimate-name{
  color: $grey-2;
  margin-top:0.1em;
  float: left;
}

@media only screen and (max-width: 767px) {
  .PageHeader {
    padding: 0 1em;
  }
  .PageHeader .header-right-menu {
    font-size: .9em;
  }
  .guesstimate-name {
    display: none;
  }
  .navbar-brand .guesstimate-icon {
    display: block;
  }
  .item.text.scratchpad {
    display: none;
  }
  .item.new-model {
    display: none;
  }
  .item.text.pricing {
    display: none;
  }
}
