@import './styles/variables.css';

.MetricLabel {
  max-width: 200px;
  text-align: center;
  background: $grey-1;
  color: $grey-2;
  padding: 3px 5px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;
  float: left;
}
