@import './styles/variables.css';

.SpaceListItem {
  border-radius: 4px;
  margin-bottom: 2px;
  float: left;
  width: 100%;
}

.SpaceListItem a{
  padding: 15px;
  transition: background .2s;
  float: left;
  width: 100%;
}

.SpaceListItem a:hover{
  background: $grey-1;
  border-radius: 3px;
}

.SpaceListItem a h3 {
  color: #333;
  font-weight: 800;
  font-family: Lato;
  margin-bottom: 0.2em;
  font-size: 1.45em;
}

.SpaceListItem .user-tag {
  float: right;
  color: $grey-2;
}

.SpaceListItem .user-tag .ui.avatar.image{
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
}

.SpaceListItem p{
  color: $grey-2;
}

.SpaceListItem .description p{
  color: #666;
  font-size: 1.1em;
  margin-top: 0.6em;
}

.SpaceListItem .metric-count p{
  float: right;
}
