@import './styles/variables.css';

.SpaceListItem {
  border-radius: 4px;
  transition: background .2s;
  padding: 15px;
}

.SpaceListItem:hover {
  background: $grey-1;
}

.SpaceListItem a h3 {
  color: $black-1;
  font-weight: 800;
  font-family: Lato;
  margin-bottom: 0.2em;
}

.SpaceListItem .user-tag {
  float: right;
  color: $grey-2;
}

.SpaceListItem .user-tag .ui.avatar.image{
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
}

.SpaceListItem p{
  color: $grey-2;
}

.SpaceListItem .metric-count p{
  float: right;
}
