@import './styles/variables.css';

.SpaceListItem {
  border-radius: 4px;
  margin-bottom: 2px;
  float: left;
  width: 100%;
}

.SpaceListItem a{
  padding: 15px;
  transition: background .2s;
  float: left;
  width: 100%;
}

.SpaceListItem a:hover{
  background: $grey-1;
  border-radius: 3px;
}

.SpaceListItem a h3 {
  color: #333;
  font-weight: 600;
  font-family: Lato;
  margin-bottom: 0.2em;
  font-size: 1.45em;
}

.SpaceListItem .snapshot img{
  max-width: 100%;
  border-radius: 1px;
}

.SpaceListItem .snapshot.blank{
  background-color: $grey-1;
  height: 80px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpaceListItem .snapshot.blank img{
  max-width: 40%;
  opacity: 0.3
}

.SpaceListItem .snapshot.blank .fa{
  font-size: 2.5em;
  color: $grey-2;
  opacity: 0.3;
}

.SpaceListItem a h3.default-value {
  color: #aaa;
  font-style: italic;
}

.SpaceListItem .user-tag {
  float: right;
  color: $grey-2;
}

.SpaceListItem .user-tag .ui.avatar.image{
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
  border-radius: 2px;
}

.SpaceListItem p{
  color: $grey-2;
}

.SpaceListItem .description p{
  color: #666;
  font-size: 1.1em;
  margin-top: 0.6em;
}

.SpaceListItem .metric-count p{
  float: right;
}
