@import './styles/variables.css';
.metricModal .DataViewer h2{
  font-weight: 400;
  color: white;
  margin-top: 3px;
  font-size: 1.3em;
}

.metricModal .DataViewer {
  max-width: 27em;
  border: none;
  box-shadow: none;
  margin-bottom: 1.5em;
}

.DataViewer--card .button.ui.primary {
  padding: 3px 7px;
  margin: 8px 10px 5px 3px;
  float: left;
  color: $purple-2;
  background-color: $purple-3;
  border-radius: 2px;
  font-size: 0.9em;
}

.DataViewer--card .button-close {
  font-size: 1.1em;
  float: right;
  margin-top: 9px;
  color: #ccc;
  margin-right: 7px;
}

.DataViewer .DataViewer--header {
  background-color: $purple-2;
  padding: 0.5em 1em;
  border-top: none;
}

.DataViewer .DataViewer--body{
  background-color: $purple-3;
  color: $purple-2;
  overflow: auto;
}

.DataViewer .DataViewer--body .ui.form{
  margin-bottom: 10px;
}

.DataViewer--header a{
  margin-top: 2px;
  color: rgba(255,255,255,0.75);
  float:right;
  padding: 2px 5px 0px 5px;
  cursor: pointer;
  margin: 2px 5px 0;
  font-size: 1em;
  display: none;
}

.DataViewer--header a .fa{
  font-size: 1.3em;
}

.DataViewer:hover .DataViewer--header a{
  display: block;
}

.DataViewer--header a:hover{
  color: white;
}

.metricModal .DataViewer ul{
  float: none;
  list-style: none;
  padding-left: 1em;
}

.metricModal .DataViewer textarea{
  font-size: 1.1em;
}
