.metricCard {
  display: flex;
  flex-direction: column;
}

.MetricCardViewSection {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.MetricCardViewSection .MetricTokenSection{
  position: absolute;
  right: 0;
  top: 0;
}

.metricCard .MetricCardViewSection.hasErrors .StatsSection  {
  background-color: rgb(236, 202, 199) !important
}

.metricCard .MetricCardViewSection .react-d3-histogram {
  position: absolute;
  z-index: -1;
  left: -5px;
}


.metricCard.input .MetricCardViewSection .DistributionSummary {
  color: #222;
}

 .metricCard.output .MetricCardViewSection .DistributionSummary {
  font-weight: 800;
  color: #111;
}

.MetricCardViewSection > .NameSection {
  width: 100%;
  padding: 3px 30px 0 3px;
  float: left;
  flex: 1;
}

.MetricCardViewSection > .StatsSection {
  width: 100%;
  float: left;
  min-height: 10px;
  flex: 10;
  display: flex;
}

.MetricCardViewSection > .StatsSection .StatsSectionErrors {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.MetricCardViewSection > .StatsSection .StatsSectionErrors .fa{
  font-size: 1.6em;
  color:#E29A9A;
}
