@import "./styles/variables.css";

.MetricToken {
  margin-top: 5px;
  margin-right: 3px;
}

.MetricToken .ui.tiny.label {
  font-size: 0.85rem;
  background-color: $green-1 !important;
  border-radius: 2px;
  padding: 0.4em 0.45em 0.35em;
  margin-top: 2px;
}

.MetricToken .hover-icon {
  float: right;
  padding: 2px 6px;
  color: $blue-5;
  border-radius: 2px;
  font-size: 1em;
}

.screenshot .MetricToken .hover-icon {
  display: none;
}

.MetricToken .hover-hide {
  opacity: 0.6;
  padding: 0 6px 2px;
}

.hovered .MetricToken .hover-hide {
  display: none;
}

.MetricToken .hover-toggle {
  cursor: pointer;
  display: none;
}

.MetricToken .hover-toggle:hover {
  color: white;
  background-color: $grey-2;
}

.hovered .MetricToken .hover-toggle {
  display: block;
}

.MetricToken--Corner-Triangle {
  height: 0;
  width: 0;
  border-top: 36px solid #9fabb3;
  border-left: 36px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.MetricToken--Corner-Item {
  position: absolute;
  top: 1px;
  right: 3px;
  color: white;
  font-size: 1.1em;
}
