@import './styles/variables.css';

.MetricToken {
  margin-top: 5px;
  margin-right: 3px;
}

.MetricToken .hover-icon {
  float: right;
  padding: 2px 6px;
  color: $blue-5;
  border-radius: 2px;
  font-size: 1em;
}

.screenshot .MetricToken .hover-icon {
  display: none;
}

.MetricToken .hover-hide {
  opacity: 0.6;
  padding: 0 6px 2px;
}

.hovered .MetricToken .hover-hide {
  display: none;
}

.MetricToken .hover-toggle {
  cursor: pointer;
  display: none
}

.MetricToken .hover-toggle:hover {
  color: white;
  background-color: $grey-2;
}

.hovered .MetricToken .hover-toggle {
  display: block
}
