.SpacesIndex .SpacesIndex--header {
  margin-top: 4em;
  margin-bottom: 3em;
  text-align: center;
}

.SpacesIndex .SpacesIndex--header h1 {
  margin-top: 0;
  margin-bottom: 0.7em;
  color: #444;
  font-weight: 800;
  font-size: 2em;
}

.SpacesIndex .nextPage {
  margin-bottom: 4em;
  margin-top: 2em;
  text-align: center;
}

.SpacesIndex a.header-action {
  color: #666;
  margin: 0.1em 1.1em 0 0;
  font-size: 1em;
  float: left;
  padding: 0.4em 0.8em;
  border-radius: 2px;

  &:hover {
    background-color: #e3e8ec;
  }

  .fa {
    margin-left: 0.4em;
    font-size: 0.8em;
  }
}
