.navbar-brand{
  font-family: Lato;
  font-size: 1.8em;
  font-weight: 500;
}

.Layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Layout.fullHeight {
  height: 100%;
}

.Layout main{
  flex: 1;
}

