@import './styles/variables.css';

.DistributionEditor {
  max-width: 500px;
  background-color: white;
}

.DistributionEditor .ui.button{
  background-color: $grey-1;
}

.DistributionEditor .actions {
  padding: 1em 1.5em 0.5em;
}

.DistributionEditor .actions .button{
  float: right;
  margin-left: 1em;
}

.DistributionEditor .attached.buttons{
  padding: 0 1px;
}

.ValueForm {
  padding: 0em 1em;
  background-color: $grey-1;
}

.ValueForm .primary {
  font-size: 1.25em;
  padding: 1em 0em;
  background-color: $blue-1;
}

.ValueForm .secondary {
  padding: 1em 0em;
}

.RangeForm .arrow {
  text-align: center;
}

.RangeForm .arrow .fa {
  font-size: 2.5em;
  color: rgba(255,255,255,0.5);
}

.ui.form.ValueForm .secondary .field > label {
  color: $grey-2;
}

.ui.form.ValueForm .primary .field > input {
  text-align: center;
  color: $blue-1
}

.ui.form.ValueForm .primary .field > label {
  text-align:center;
  margin-top: 0.3em;
  font-weight: normal;
  color: rgba(255,255,255,0.7);
}
