@import './styles/variables.css';

table.MetricStatTable {
  margin-top: 10px;
  font-weight: 500;
  font-size: 11px;
  color: #666;
  width: 160px;
  background-color: rgba(255,255,255,0.3);
  margin-left: 6px;
}

table.MetricStatTable td {
  text-align: left;
  padding: 0;
}
