@import './styles/variables.css';

table.MetricStatTable {
  font-weight: 500;
  font-size: 11px;
  color: #666;
  width: 100%;
}

table.MetricStatTable td {
  text-align: left;
  padding: 0;
  line-height: 1.5em;
}
