.calculator .section {
  width: 100%;
  padding: .5em;
  font-size: 1.7em;
}

.inputs h3, .outputs h3{
  border-bottom: 2px solid #aaa;
  padding-bottom: .5em;
  margin-top: 2.5em;
  font-weight: 800;
  font-size: 1.2em;
}

.nub {
  border-radius: 3px;
  padding: .25em .5em;
  float: left;
}

.nub a.ui.button {
  padding: .3em .4em;
}

