.calculator .section {
  background-color: #c7d2e2;
  width: 100%;
  padding: .5em;
  border-radius: 3px;
  text-align: center;
}

.calculator .section.faint {
  background-color: #dde0e4;
}

.nub {
  border-radius: 3px;
  padding: .25em .5em;
  float: left;
}

.nub a.ui.button {
  font-size: 1.2rem;
  padding: .4em .5em;
}
