@import "styles/variables.css";

$grey: #eee;

.metricModal {
  background-color: rgba(240, 240, 240, 1);
  margin-bottom: 2em;
}

.metricModal > .top {
  padding: 1.5em 1.5em 0;
  position: relative;
}

.metricModal > .bottom {
  background-color: white;
  padding: 4em 1.5em 1.5em;
}

.metricModal hr {
  border: none;
  border-top: 1px solid #ddd;
}

.metricModal h1 {
  margin: 0;
  color: #444;
  font-weight: 600;
  font-size: 2.2em;
}

.metricModal h2 {
  color: #333;
  font-size: 1.4em;
}

.metricModal h3 {
  color: #999;
  font-size: 1.4em;
  font-weight: 400;
}

.metricModal .section {
  padding: 2em 1em 0;
  margin: 2em 0;
}

.metricModal .histogram {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.8em;
}

.metricModal .histogram .react-d3-histogram .react-d3-histogram__bar rect {
  fill: rgb(146, 169, 184);
}

.metricModal .island {
  background-color: white;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.metricModal .percentiles {
  float: right;
}

.metricModal .ui.table tr td {
  padding: 4px 4px 4px 6px;
  color: #666;
}

.metricModal .distributionSection .island {
  padding-top: 1em;
  position: relative;
}

.metricModal .distributionSection .subsection {
  z-index: 1;
  padding: 0 1em;
}

.metricModal .distributionSection .mean.subsection .DistributionSummary {
  color: #000;
  font-size: 2.3em;
  margin-top: 1em;
  margin-left: 0.3em;
  float: left;
}

.metricModal .distributionSection .mean.subsection .DistributionSummary .stdev {
  color: #666;
}

.metricModal .distributionSection .mean.subsection .hovered-value {
  float: right;
  background-color: rgba(240, 240, 240, 0.68);
}

.metricModal .distributionSection .mean.subsection .hovered-value h4 {
  margin-top: 0.5em;
  color: #888888;
  font-weight: 200;
}

.metricModal .distributionSection .mean.subsection .hovered-value h3 {
  margin-bottom: 0;
  font-size: 2em;
  color: #555555;
  font-weight: 200;
}

.metricModal .section-small {
  background-color: white;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 0;
}

.metricModal .distributionSection {
  margin: 0.5em 0 0em;
  min-height: 10em;
  position: relative;
}

.metricModal .Guesstimate.large input {
  background-color: $grey;
}

.metricModal .editingInputSection {
  margin-bottom: 3em;
  margin-left: -4px;
}

.metricModal .guesstimateDescriptionSection {
  color: #666;
}

.metricModal > .top .button-close {
  float: right;
  font-size: 2em;
  color: #bbb;
}

.metricModal .SampleList {
  max-height: 30em;
  overflow: scroll;
  padding: 0.5em;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.metricModal .modal-action.button {
  background-color: #ddd;
  border-radius: 0.3px;
  padding: 0.25em 0.7em;
  color: #555;
  font-size: 1.1em;
  &:hover {
    background-color: #bbb;
  }
}

.metricModal--sample-container {
  float: right;
}
