.SpaceCard {
  font-size: 0.9em;
  margin-bottom: 3em;
  padding: 0 1em;
  float: left;
}

.SpaceCard img{
  width: 100%;
  border-radius: 1px;
  float: left;
}

.SpaceCard .body {
  float: left;
  width: 100%;
  margin-top: 1em;
}

.SpaceCard h3 {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 0.3em;
}

.SpaceCard p {
  color: #888;
}
