.SpaceCard {
  display: flex;
}

.SpaceCard--inner {
  margin: 1.5em .8em;
  float: left;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
}

.SpaceCard--inner:hover {
  border: 1px solid #C2CDD6;
}

.SpaceCard .header {
  padding: .5em;
  border-radius: 2px 2px 0 0;
  background-color: white;
  flex: 0 0 auto;
}

.SpaceCard .image {
  min-height: 11em;
  position: relative;
  background-color: #D9DEE2;
  float: left;
  flex: 0 0 auto;
}

.SpaceCard .image img{
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}

.SpaceCard .image .snapshot.blank{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.SpaceCard .image .snapshot.blank img{
  height: 67%;
  width: auto;
  opacity: 0.23;
  margin-bottom: 1em;
}

.SpaceCard .header h3 {
  font-size: 1.3em;
  color: #4A6A88;
  margin-bottom: 0;
}

.SpaceCard .header.default-name h3 {
  color: #bbb;
  font-style: italic;
}

.SpaceCard .header .changed-at {
  color: #888;
  font-size: .9em;
}

.SpaceCard .hover-row {
  position: absolute;
  left: .5em;
  bottom: .5em;
  z-index: 2;
}

.SpaceCard .hover-row .tag {
  float: left;
  font-size: 1.6em;
  color: #6E7980;
  padding: .12em 0 0;
}

.SpaceCard .hover-row .owner-tag {
  margin-right: .5em;
  float: left;
  background: rgba(147, 159, 169, 0.7);
  border-radius: 2px;
  float: left;
}

.SpaceCard .hover-row .owner-tag:hover {
  cursor: pointer;
  background: rgba(88, 110, 127, 0.71);
  transition: .2s background;
}

.SpaceCard .hover-row .owner-tag .avatar{
  width: 1.8em;
  height: 1.8em;
  border-radius: 2px 0 0 2px;
  float: left;
}

.SpaceCard .hover-row .owner-tag .name{
  float: left;
  padding: .3em .5em 0 .5em;
  color: white;
  font-size: 1.1em;
  font-weight: 800;
}

.SpaceCard .body {
  border-radius: 0 0 2px 2px;
  flex: 1;
  background-color: white;
  float: left;
  width: 100%;
  padding: .3em .5em .6em .5em;
  overflow: hidden;
}

.SpaceCard .body p {
  margin-top: 0.4em;
  width: 100%;
  color: #78838C;
  float: left;
}

