.SpaceCard {
  display: flex;
}

.SpaceCard.new {
  .SpaceCard--inner {
    background-color: #cee4ce;
    transition: background-color 0.1s;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
    min-height: 12em;

    &:hover {
      border: 1px solid #61a761;
    }

    .section-middle {
      text-align: center;

      h3 {
        font-size: 2em;
        color: rgb(50, 64, 50);
        margin-top: 0.5em;
      }

      .fa {
        font-size: 4.5em;
        color: #79b979;
      }
    }
  }
}

.SpaceCard.SMALL {
  width: 100%;

  .image {
    flex: 1;
    min-height: 3em;
    border-radius: 0 0 1px 1px;
  }

  .SpaceCard--inner {
    margin: 0 0.8em;
  }

  .image .snapshot.blank img {
    height: 85%;
    opacity: 0.2;
    margin-bottom: 0;
    max-height: 4em;
  }

  .header h3 {
    font-size: 1.2em;
  }
}

.SpaceCard--inner {
  margin: 1.5em 0.8em;
  float: left;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
}

.SpaceCard--inner:hover {
  border: 1px solid #c2cdd6;
}

.SpaceCard .header {
  padding: 0.5em;
  border-radius: 2px 2px 0 0;
  background-color: white;
  flex: 0 0 auto;
}

.SpaceCard .image {
  min-height: 11em;
  position: relative;
  background-color: #d9dee2;
  float: left;
  flex: 0 0 auto;
}

.SpaceCard .image img {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}

.SpaceCard .image .snapshot.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.SpaceCard .image .snapshot.blank img {
  height: 67%;
  width: auto;
  opacity: 0.23;
  margin-bottom: 1em;
}

.SpaceCard .header h3 {
  font-size: 1.3em;
  color: #4a6a88;
  margin-bottom: 0;
}

.SpaceCard .header.default-name h3 {
  color: #bbb;
  font-style: italic;
}

.SpaceCard .header .changed-at {
  color: #888;
  font-size: 0.9em;
}

.SpaceCard .hover-row {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  z-index: 2;
}

.SpaceCard .hover-row .tag {
  float: left;
  font-size: 1.6em;
  color: #6e7980;
  padding: 0.12em 0 0;
}

.SpaceCard .hover-row .owner-tag {
  margin-right: 0.5em;
  float: left;
  background: rgba(147, 159, 169, 0.7);
  border-radius: 2px;
  float: left;
}

.SpaceCard .hover-row .owner-tag:hover {
  cursor: pointer;
  background: rgba(88, 110, 127, 0.71);
  transition: 0.2s background;
}

.SpaceCard .hover-row .owner-tag .avatar {
  width: 1.8em;
  height: 1.8em;
  border-radius: 2px 0 0 2px;
  float: left;
}

.SpaceCard .hover-row .owner-tag .name {
  float: left;
  padding: 0.3em 0.5em 0 0.5em;
  color: white;
  font-size: 1.1em;
  font-weight: 800;
}

.SpaceCard .body {
  border-radius: 0 0 2px 2px;
  flex: 1;
  background-color: white;
  float: left;
  width: 100%;
  padding: 0.3em 0.5em 0.6em 0.5em;
  overflow: hidden;
}

.SpaceCard .body p {
  margin-top: 0.4em;
  width: 100%;
  color: #78838c;
  float: left;
}
