@import "./styles/variables.css";

.shareable-link {
  overflow: scroll;
  cursor: auto;

  span {
    cursor: text;
  }
}

.PrivacyToggle li .info-section .warning {
  color: $black-1;
}

.PrivacyToggle li .info-section .warning .upgrade {
  cursor: pointer;
  color: $blue-6;
}
