.button-close {
  color: #888;
  cursor: pointer;
  font-size: 1.9em;
}

.button-close:hover {
  color: #666;
}

.ui.button.button-close-text {
  padding: .5em .8em;
  i {
    margin-right: .3em;
  }
}
