@import './styles/variables.css';

.MetricHeader {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.MetricHeader > .name {
  width: 85%;
  float: left;
}

.MetricHeader > .name {
  width: 80%;
}

.MetricHeader .hover-icon {
  float: right;
  padding: 2px 6px;
  color: $grey-2;
  border-radius: 2px;
  color: $grey-2;
  font-size: 1.2em;
}

.MetricHeader .hover-hide {
  opacity: 0.6;
  padding: 0 6px 2px;
}

.hovered .MetricHeader .hover-hide {
  display: none;
}

.MetricHeader .hover-toggle {
  cursor: pointer;
  display: none
}

.MetricHeader .hover-toggle:hover {
  color: white;
  background-color: $grey-2;
}

.hovered .MetricHeader .hover-toggle {
  display: block
}
