@import './styles/variables.css';

.MetricHeader {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}

.MetricHeader > .name {
  width: 85%;
  float: left;
}

.MetricHeader > .name {
  width: 80%;
}

.metric .hover-toggle {
  float: right;
  padding: 2px 6px;
  border-radius: 2px;
  color: $grey-2;
  cursor: pointer;
  display: none;
}

.metric .hover-toggle:hover {
  color: white;
  background-color: $blue-1;
}

.hovered .metric .hover-toggle {
  display: block
}
