.repo-component
  .cytoscape-graph
    height: 900px

  .side-pane
    height 900px
    background-color #eee
    padding 1em

  .maingraph
    height 900px
    width 100%

  .hover
    z-index 100
    left 500px
    position absolute
    margin 0
    padding 0
    background-color rgba(180,180,180,0.1)

  .navbar.navbar-default
    margin-bottom 0
    margin 0

  .node-form
    font-size 1.5em
    form
      text-align center

      .form-control
        height 2em
        border none
        background rgba(255,255,255,0.8)
        border-radius 0
        font-size 1em
        box-shadow none
        &.multiple-select
          min-height 12em
        &:focus
          background-color rgba(217,247,255,0.8)
          box-shadow none

      .multiple-select
        min-height 100px

  .header
    z-index: 2
    position absolute
    top 0.5em
    left 2em
    .btn-default
      background-color rgba(255,255,255, 0.6)

