$icon-font-path = '../../node_modules/bootstrap-styl/fonts/'
@import '../../node_modules/bootstrap-styl/stylus/bootstrap'

h1
  font-size: 4em

.navbar-brand
  font-size: 1.5em

.home-page
  .repo-component
    border-top: 2px solid #ddd
    border-bottom: 2px solid #ddd
    margin: 4em 0 1em 0
    height: 400px

.navbar
  margin-bottom: 0

.repo-component.row
  margin-right: 0
  margin-left: 0

.repo-component
  background-color #eee
  height: 900px

  .side-pane
    padding 1em

  .main-pane
    height: 100%
    background-color: white
    padding: 0

    .cytoscape-graph
      height: 100%

  .maingraph
    width 100%

  .hover
    z-index 100
    left 500px
    position absolute
    font-size: 0.9em
    .triangle
      width: 0
      height: 0
      border-left: 12px solid transparent
      border-right: 12px solid transparent
      border-bottom: 7px solid rgba(240,240,240,0.95)
      margin: 0 auto
    .node-form
      margin 0
      padding 0
      background-color rgba(240,240,240,0.95)
      border-radius: 0.25em

    input
      text-align: center

  .navbar.navbar-default
    margin-bottom 0
    margin 0


  .node-form
    text-align center
    font-size 1.5em

    .btn.btn-danger
      width: 100%

    form
      padding-bottom:1px
      text-align center
      .form-group
        margin-bottom: 6px
      .form-control
        height 2em
        border none
        background rgba(255,255,255,0.8)
        border-radius 0
        font-size 1em
        box-shadow none
        &.multiple-select
          min-height 12em
        &:focus
          background-color rgba(200, 215, 230, 0.95)
          box-shadow none

      .multiple-select
        min-height 100px

  .header
    z-index: 2
    position absolute
    top 0.5em
    left 2em
    .btn-default
      background-color rgba(255,255,255, 0.6)

