@import './styles/variables.css';

.header-left-menu {
  float: left
}

.header-right-menu {
  float: right;
  height: 3.5em;
  position: relative;
}

.header-right-menu .item {
  float: left;
  margin: 0.1em 0 0 3.5em;
  color: $grey-2;
  transition: color 5s;
}

.header-right-menu .item {
  cursor: pointer;
}

.header-right-menu .item.text {
  margin-top: 1em;
}

.isBare .header-right-menu .item.text {
  color: #1487D0;
  font-size: 1.1em;
}

.header-right-menu a.item {
  transition: color 0.3s;
}

.header-right-menu a.item i{
  transition: color 0.3s;
}

.header-right-menu a.item:hover {
  color: $blue-1;
}

.header-right-menu a.item:hover i{
  color: $blue-1;
}

.header-right-menu a.item > i {
  font-size: 1.8em;
  color: $grey-2;
  margin: 0.3em 0.3em 0 0;
  float: left;
}

.header-right-menu a.item > .text {
  float: left;
  font-size: 1.2em;
  font-weight: 800;
  font-family: Lato, Arial, sans-serif;
  margin-top: 11px;
}

.header-right-menu .avatar {
  width: 3.25em;
  border-radius: 3.25em;
  border: 0.4em solid rgba(0,0,0,0);
}

.header-right-menu .avatar:hover {
  border-color: $grey-1;
}
