.canvas-space
  background-color: #D4DEEA;
  padding 1em 0.5em
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  ::selection
    background-color: none
  .inner-editor
    input
      text-align left
  .header
    .save-message
      color: #888
  .stdev
    margin-left 0.25em
    font-size 0.75em
    color #aaa
