@import "styles/variables.css";

.SpaceShowToolbar {
  background: rgba(219, 221, 222, 0.69);
  border-bottom: 1px solid rgba(37, 128, 167, 0.38);
}

.SpaceShowToolbar .saveMessage {
  color: #09273a;
  margin-left: 26px;
  float: left;
  margin-top: 8px;
  font-size: 1.1em;
}

.SpaceShowToolbar .saveMessage .ui.label {
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 0.25em 0.5em;
  margin-top: -2px;
}

.SpaceShowToolbar .saveMessage .ui.label.grey {
  background-color: #555 !important;
}

.SpaceShowToolbar .header-action {
  cursor: pointer;
  float: left;
  padding: 0.3em 0.55em;
  font-size: 1.1em;
  color: rgb(18, 46, 64);
  border-radius: 1px;
  margin: 0.2em 0.2em;
}

.SpaceShowToolbar .header-action-border {
  float: left;
  width: 2px;
  background: rgb(115, 168, 190);
  height: 34px;
  margin: 0 3px;
}

.SpaceShowToolbar .header-action:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.SpaceShowToolbar .header-action:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.SpaceShowToolbar .header-action.disabled {
  opacity: 0.4;
}

.SpaceShowToolbar .header-action.disabled:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.SpaceShowToolbar .ui.buttons {
  float: left;
  margin-right: 8px;
}

.SpaceShowToolbar a.space-header-action {
  color: white;
  padding: 0.5em 0.95em;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  font-size: 1.2em;
  float: left;
}

.SpaceShowToolbar a.space-header-action:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.SpaceShowToolbar .float-right {
  float: right;
}

.SpaceShowToolbar .header-action.button {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.23em 0.53em;
  margin: 0.3em 0 0 0.2em;
  border-radius: 2px;
}

.SpaceShowToolbar .header-action.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.ImportFromSlurpForm h2 {
  display: inline;
}

.ImportFromSlurpForm .SlurpQuestionLink {
  float: right;
  font-size: 1.6em;
  color: $blue-4;
  cursor: pointer;
}
