@import './styles/variables.css';

.FirstSubscriptionPage {
  font-family: 'Lato';
  margin-top: 2em;
}

.FirstSubscriptionPage .header{
  margin-bottom: 3em;
}

.FirstSubscriptionPage .header h1{
  font-size: 3em;
  font-weight: 400;
  color: $grey-2;
}

.FirstSubscriptionPage h2{
  color: #666;
  font-weight: 400;
  margin-top: 0.5em;
}

.FirstSubscriptionPage .thingy {
  color: $blue-1;
}

