@import './variables.css';

.ToolTip {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  padding: 0.75em;
  border-radius: 2px;
  z-index: 100;
  left: -3px;
  color: #111;
  min-height: 40px;
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.ToolTip.SMALL {
  background-color: white;
  width: 207%;
  border: 1px solid $grey-2;
}

.ToolTip.LARGE {
  border: none;
  background-color: rgba(250,250,250,0.99);
}

.ToolTip.LARGE .arrow-up{
  left: 8%;
}

.ToolTip.SMALL .arrow-up{
  left: 22%;
}

.ToolTip .arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $grey-2;
  position: absolute;
  top: -8px;
}

