@import './styles/variables.css';

.CreateOrganization {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 .25 0;
    float: left;
    width: 100%;
  }
  .Header {
    h1 {
      margin-top: 0.5rem;
      font-size: 3em;
      font-weight: 500;
      margin-bottom: 1em;
    }

    .center-display {
      text-align: center;
      margin-right: 0.5em;
      margin-top: 0.25em;
    }
  }

  .Steps {
    .ui.menu {
      float: right;
      margin-top: 0;
    }

    .ui.menu .item{
      font-weight: 800;
      font-size: 1.2em;
      color: #444;
    }
  }

  .ui.form {
    label {
      font-weight: bold;
    }

    input {
      margin: 0.6em 0 0.6em 0;
    }

    .field.name {
      font-size: 1.2em;
      margin-bottom: 1em;
    }

    .field.trial {
      margin-bottom: 1em;
    }
  }
}
