@import './styles/variables.css';

.CreateOrganization {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 .25 0;
    float: left;
    width: 100%;
  }
  .Header {
    h1 {
      margin-top: 0.5rem;
      font-size: 3em;
      font-weight: 500;
      margin-bottom: 1em;
    }

    .center-display {
      text-align: center;
      margin-right: 0.5em;
      margin-top: 0.25em;
    }
  }

  .Steps {
    .ui.menu {
      float: right;
      margin-top: 0;
    }

    .ui.menu .item{
      font-weight: 800;
      color: #444;
    }
  }

  .ui.form {
    label {
      font-weight: bold;
    }

    .field {
      font-size: 1.1em;
    }

    .field.name {
      margin-bottom: 1em;

      input {
        margin: 0.6em 0 0.6em 0;
      }
    }
  }
}


.PlanList {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.PlanElement {
  padding: 1.5em 0;
  background-color: rgba(150,150,150,0.12);
  font-size: .9em;

  input {
    margin: 0
  }

  .center-text {
    text-align: center;
  }

  &.selected {
     background-color: white;
  }

  &:first-child {
    border-radius: 3px 3px 0 0;
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
  }

  .radio-section{
     width: 8%;
     text-align: right;
     float: left;
  }

  .content-section{
     width: 90%;
     padding-left: 20px;
     float: left;
  }
}
