@import './styles/variables.css';

.react-d3-histogram {
  bottom: -24px;
  left: -5px;
}

.ReactModal__Overlay--after-open .react-d3-histogram__tick text {
  fill: #666;
  font-size: 13px;
  font-weight: 600;
}

.react-d3-histogram svg {
  width: 100%;
}

.react-d3-histogram__bar rect {
  fill: rgba(20, 131, 208, 0.24);
  shape-rendering: crispEdges;
}


.react-d3-histogram__bar text {
  fill: none;
}

.react-d3-histogram__tick text {
  font-size: 8px;
  fill: none;
}

.metric .scientific .react-d3-histogram__tick text  {
  fill: #aaa;
}

.metric:hover .react-d3-histogram__tick text {
  fill: #aaa;
}

.react-d3-histogram__x-axis path, .react-d3-histogram__x-axis line {
  fill: none;
  shape-rendering: crispEdges;
}
