@import './styles/variables.css';


.Fact.new.ui.form {
  input, textarea {
    border: none;
    padding: .4em .4em;
    border-radius: 2px;

    background-color: #eee;

    &:hover {
      background-color: #ddd;
    }

  }

  .prefix {
    color: #8dabbf;
    position: absolute;
    left: .7em;
    top: .9em;
    font-size: 1.2em;
  }

  input {
    font-size: 1.2em;
    color: #116f9e;
    padding-left: .95em;
  }
}

.FactsTab {
  margin-top: 7em;
  width: 100%;
  width: 48em;

  .Fact {
    padding: .4em .5em;
    margin: .3em 0;
    border-bottom: 1px solid #eee;
    background-color: white;
    border-radius: 2px;
    .simulation-sample {
      position: relative;

      .histogram {
        left: 20%;
        height: 35px;
        position: absolute;
        bottom: -.4em;
        right: 0;
        z-index: 0;
        .react-d3-histogram__bar rect {
          fill: rgb(231, 234, 236);
        }
      }

      .simulation-summary {
        float: left;
        margin-top: 4px;
        position: relative;
        z-index: 1;
        .DistributionSummary .mean {
          font-size: .9em;
          font-weight: 800;
          color: #607580;
        }
        .DistributionSummary .UncertaintyRange {
           color: #8c8c8c;
        }
      }
    }

    .variableName.field {
      width: 100%;
    }

    .variableName {
      font-size: 1.15em;
      font-weight: 800;
      float: left;
      margin-right: 100%;
        color: #116f9e;

      input {
        width: 80%;
        margin-left: 0.4em;
      }
      .prefix {
        margin-right: 1px;
      }
      .variable {
      }
    }

    .options {
      font-size: 1.8em;
      color: #dadada;
      margin-top: .4em;
      float: left;
    }
    .name {
      font-size: .9em;
      color: #888;
      letter-spacing: 0.36px;
      float: left;
      margin-top: .2em;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
