@import './styles/variables.css';

.OrganizationShow {
  .main-section {
    margin-top: 2em;
  }

  .ui.menu .item.active{
    background: #CACACA;
  }

  .ui.tabular.menu.reversed .active.item{
    background: none #F7F5F5;
    border-radius: 0.15rem 0.15rem 0 0 !important;
  }

  .OrganizationHeader {
    h1 {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    .center-display {
      text-align: center;
      margin-right: 0.5em;
      margin-top: 0.25em;
    }

    img {
      max-width: 4em;
      max-height: 5em;
      border-radius: 0.5em;
      margin-bottom: 2px;
    }
  }

  .OrganizationTabButtons {
    .ui.menu {
      float: right;
      margin-top: 0;
    }

    .ui.menu .item{
      font-weight: 800;
      font-size: 1.2em;
      color: #444;
    }
  }
}

.OrganizationShow .MembersAddSubTab .ui.form{
  font-size: 1.2em;
  margin-top: 4em;
  margin-bottom: 4em;
}

.OrganizationShow .MembersAddSubTab p{
  color: #666;
  font-size: 1.2em;
  line-height: 1.7em;
}

.OrganizationShow .MembersTab {
  margin-top: 7em;

  .ui.button.green{
    background-color: $green-2;
  }

  .members {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 1em;
  }

  .Member {
    padding: 1em 0.2em;
    border-bottom: 1px solid #eee;

    .role{
      margin-top: 0.6em;
      color: $grey-2;
      font-weight: bold;
      font-size: 1.2em;
    }

    .button.remove {
      margin-top: 0.2em;
      float: right;
      font-size: 1.2em !important;
      padding: 7px 10px !important;
    }

    .button.remove i{
      margin: 0 !important;
    }

    .name {
      float: left;
      font-size: 1.3em;
      font-weight: 800;
      color: $black-3;
      margin-top: 0.5em;
    }

    .invitation-status {
      font-size: 1.2em;
      color: #666;
      margin-top: 0.6em;
    }

    img{
      float: left;
      width: 40px;
      border-radius: 3px;
      margin-right: 1em;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
