@import "./styles/variables.css";

.OrganizationShow {
  .main-section {
    margin-top: 2em;
  }

  .ui.menu .item.active {
    background: #cacaca;
  }

  .ui.tabular.menu.reversed .active.item {
    background: none #f7f5f5;
    border-radius: 0.15rem 0.15rem 0 0 !important;
  }

  .OrganizationHeader {
    h1 {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    .center-display {
      text-align: center;
      margin-right: 0.5em;
      margin-top: 0.25em;
    }

    img {
      max-width: 4em;
      max-height: 5em;
      border-radius: 0.5em;
      margin-bottom: 2px;
    }
  }

  .OrganizationTabButtons {
    .ui.menu {
      float: right;
      margin-top: 0;
    }

    .ui.menu .item {
      font-weight: 800;
      font-size: 1.2em;
      color: #444;
    }
  }

  .FactTab {
    margin-top: 4em;

    .FactTab--factList {
      float: right;
    }

    p {
      font-size: 1.1em;
      color: #666;
    }

    .Category {
      margin-bottom: 3em;

      h3 {
        color: #888;
        font-size: 1.4em;
        font-style: italic;
        font-weight: 200;
        margin-bottom: 0.3em;
        margin-top: 0.5em;
      }
    }
  }
}
