@import './variables.css';

.GeneralSpaceIndex {
  margin-top:2em;
}

.GeneralSpaceIndex  h2 {
  margin-top: 10px;
  color: $blue-1;
  font-family: Lato;
  margin-bottom: 0.5em;
  text-align: center;
}

.GeneralSpaceIndex > .divider.ui.divider {
  margin-top: 2em;
  margin-bottom: 3em;
  border-color: $grey-1;
  border-bottom: none;
}

.GeneralSpaceIndex .spaceList {
  border-left: 1px solid $grey-1;
  padding-left: 10px;
}
