@import './styles/variables.css';

.calculator {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 1em;
  background: white;
  margin: 1em;
  padding: 3em;
  color: rgba(80, 80, 80, 1);

  .inputs {
    .input {
      padding: 0.8em 0 0.8em 0;

      .editor {
        height: 1.4em;
        font-size: 1.1em;
        padding-top: 0.25em;
        background-color: $grey-1;
      }
    }
  }

  .outputs {
    padding-top: 3em;
  }

  .name {
    white-space: nowrap;
    font-size: 1.4em;
    height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .calculateButton {
    margin: 2.6em 0 0 0;
    border-radius: 0.1em;
  }
}

.DistributionSummary {
  font-size: 1.6em;
}

.DistributionSummary .mean {
  float: left;
  width: 100%;
  line-height: 0.9em;
}

.DistributionSummary .UncertaintyRange {
  font-size: 0.58em;
  color: #555;
  float: left;
  margin-top: 2px;
  margin-left: 0;
}

.DistributionSummary .PrecisionNumber {
  float: left;
}
