@import './styles/variables.css';

@media only screen and (max-width: 767px) {
  .calculator.calculator {
    border-right: none;
    border-left: none;
    border: none;
    font-size: 1.1em;
    line-height: 1em;
    padding: 1em;
    margin: 0;
    border-radius: 0;
  }
}

.drop-target {
  background-color: $grey-1;
}

.calculator {
  .title-bar {
    .action-section{
      padding-top: .4em;
    }

    h1 {
      font-size: 1.5em;
      display: inline;
    }

    span.privacy-icon {
      padding-left: 1em;
    }
  }

  .description {
    font-size: 0.9em;
    margin-top: .9em;
    margin-bottom: 2em;
    color: #666;

    img {
      max-width: 100%;
    }
  }

  table.ui.table{
    font-size: .7em;
  }

  .header-actions .button{
    float: right;
  }

  .editor {
    padding: .4rem .8rem;
    background-color: $grey-6;
    border: 1px solid #D4D4D4;
    border-radius: 1px;
    position: relative;
  }

  .inputs {
    width: 100%;

    .input {
      .name {
        margin-top: .3em;
      }

      .description {
        font-size: .75em;
        color: #666;
      }

      .status {
        position: absolute;
        right: 0.5em;
        bottom: 0;
        top: 0;
        height: 1em;
        margin: auto;

        &.error {
          color: rgb(206, 132, 132);
        }

        &.success {
          color: #a9a8a8;
        }
      }
    }
  }

  .calculateButton {
    border-radius: 0.1em;
    width: 100%;
    font-size: 1.1em;
    padding: .7em;
    color: #444 !important;
    background-color: #82E69D !important;
  }

  .result-divider {
    border: none;
    border-bottom: 2px dotted #e8e8e8;
  }

  .outputs {
    .output:last-child {
      padding-bottom: 0em;
    }

    .name {
      font-weight: 800;
    }

    .result-section {
      color: #666;
      margin-left: .5rem;
      font-size: 1.3em;

      .result-value {
        color: rgba(80, 80, 80, 1);
        font-weight: 800;
      }
    }
  }
}

.information-section {
  padding: 1em 2em;
  margin: 0 1em;
  font-size: 1.6em;

  .calculation-link-section {
    padding-top: .4em;
    a {
      color: #777;
    }

    a:hover {
      color: #333;
    }

  }

  .SocialMediaShareButton {
    width: 45%;
    position: relative;
    float: left;
    border-radius: 0.1em;
    margin-left: 10%;
    cursor: pointer;
    opacity: .45;
  }
  .SocialMediaShareButton:hover {
    opacity: 1;
  }

  .SocialMediaShareButton:first-child {
    margin-left: 0;
  }

  .SocialMediaShareButton--facebook {
    background-color: rgb(59, 89, 152);
    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .SocialMediaShareButton--twitter {
    background-color: rgb(0, 172, 237);
    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .model-link {
    width: 100%;
    font-size: 0.8em;
    margin-top: 1.5em;

    a {
      cursor: pointer;
    }
  }
}

.calculator.narrow {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 1em;

  &.medium-font-size{
    font-size: 1.1em;
  }

  .result-divider {
    margin: 1em 0;
  }

  .calculateButton {
    margin-top: 2em;
  }

  .inputs .input {
    padding: .3em 0 .3em 0;
  }
  .padded-section {
    padding: 1em 1em;
  }
  .create-button-section {
    margin-top: 2em;
  }

  .input, .output {
    a.ui.button {
      padding: .3em .4em;
      border-radius: 3px;
    }
  }

  .outputs .output {
    padding: .3em 0 .3em 0;
  }

  .inputs h3, .outputs h3{
    border-bottom: 2px solid #aaa;
    padding-bottom: .5em;
    margin-top: 2.5em;
    font-weight: 800;
    font-size: 1.2em;
  }
}

.calculator.wide {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: .2em;
  background: white;
  margin: 1em;
  padding: 2em 2em;
  color: rgba(80, 80, 80, 1);
  font-size: 1.6em;
  line-height: 1.2em;
  .result-divider {
    border-top: none;
    margin: 0;
  }
  .inputs {
    padding-bottom: 1em;
    margin-top: 2em;
  }
  .outputs {
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 1em;
  }
  .inputs .input {
    padding: 0.8em 0 0.8em 0;
  }
  .outputs .output {
    padding-bottom: 1.5em;

    .stats-summary {
      font-size: .63em;
      margin-top: .8em;
    }

  }
  .padded-section {
    padding: 1em 1em;
  }
}

