@import './styles/variables.css';

.calculator {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: .2em;
  background: white;
  margin: 1em;
  padding: 2em 2em;
  color: rgba(80, 80, 80, 1);
  font-size: 1.6em;
  line-height: 1.2em;

  h1 {
    font-size: 1.5em;
  }

  .description {
    font-size: 0.9em;
    margin-top: .9em;
    margin-bottom: 2em;
    color: #666;
  }

  .inputs {
    width: 100%;
    padding-bottom: 1em;
    margin-top: 2em;

    .input {
      padding: 0.8em 0 0.8em 0;

      .name {
        margin-top: .3em;
      }

      .editor {
        padding: .4rem .8rem;
        background-color: $grey-6;
        border: 1px solid #D4D4D4;
        border-radius: 1px;
        position: relative;
      }

      .error-alert {
        position: absolute;
        right: 0.2em;
        bottom: 0;
        top: 0;
        height: 1em;
        margin: auto;

        .fa-warning {
          color: rgba(180, 20, 20, 1);
        }
      }
    }
  }

  .calculateButton {
    border-radius: 0.1em;
    width: 100%;
    font-size: 1.1em;
    padding: .7em;
    color: #444 !important;
    background-color: #82E69D !important;
  }

  .result-divider {
    border-bottom: 2px solid #D4D4D4;
    border-top: none;
  }

  .outputs {
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 1em;

    .output {
      padding-bottom: 1.5em;
      &:last-child {
        padding-bottom: 0em;
      }
    }

    .name {
      font-weight: 800;
    }

    .result-section {
      color: #666;
      margin-left: .5rem;
      font-size: 1.3em;

      .result-value {
        color: rgba(80, 80, 80, 1);
        font-weight: 800;
      }
    }
  }

  .information-section {
    margin-top: 3em;
  }

  .calculation-link-section {
    position: relative;
    a {
      position: absolute;
      bottom: 0;
    }
  }

  .SocialMediaShareButton {
    width: 45%;
    position: relative;
    float: left;
    border-radius: 0.1em;
    margin-left: 10%;
    cursor: pointer;
  }

  .SocialMediaShareButton:first-child {
    margin-left: 0;
  }

  .SocialMediaShareButton--facebook {
    background-color: rgb(59, 89, 152);
    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .SocialMediaShareButton--twitter {
    background-color: rgb(0, 172, 237);
    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .model-link {
    width: 100%;
    text-align: center;
    font-size: 0.8em;

    a {
      cursor: pointer;
    }
  }
}
