.SensitivitySection.SMALL {
  height: 70px;
  padding-left: 5px;
  padding-right: 4px;
  padding: 3px 4px 6px 5px;
  background-color: rgba(189, 189, 189, 0.14);
  flex: 0;
  position: relative;
}

.SensitivitySection.SMALL .regression {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.SensitivitySection.LARGE .regression {
  position: absolute;
  top: 15px;
  right: 8px;
  color: #444;
  font-size: 0.85em;
}

.SensitivitySection.LARGE .regression {
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 3px;
  padding: 4px;
}

.SensitivitySection.LARGE .regression .label {
  color: #6f9a6f;
  width: 130px;
}

.SensitivitySection.SMALL .regression .label {
  font-size: 0.7em;
}

.SensitivitySection.SMALL .regression .label {
  color: #777;
  font-style: italic;
}

.SensitivitySection.SMALL .regression .value {
  font-style: italic;
  font-size: 1.2em;
}

.SensitivitySection.SMALL .regression .value.low {
  font-weight: 300;
  color: #91a791;
}

.SensitivitySection.SMALL .regression .value.medium {
  font-weight: 500;
  color: #6f9a6f;
}

.SensitivitySection.SMALL .regression .value.high {
  font-weight: 700;
  color: #359235;
}

.SensitivitySection.LARGE svg path.dot {
  fill: rgba(88, 173, 109, 0.12);
}
.SensitivitySection.SMALL svg path.dot {
  fill: rgba(88, 173, 109, 0.18);
}
.SensitivitySection svg .axis line {
  stroke: #ced6dc;
}
.SensitivitySection svg .axis .tick {
  fill: #ced6dc;
}
.SensitivitySection svg .axis .domain {
  fill: #e2efe9;
  stroke: none;
}

.metricCard.intermediate .SensitivitySection.LARGE svg path.dot {
  fill: rgba(90, 113, 89, 0.12);
}

.metricCard.intermediate .SensitivitySection.SMALL svg path.dot {
  fill: rgba(90, 113, 89, 0.18);
}

.SensitivitySection svg .axis text {
  font-size: 0.9em;
  fill: #7a909a;
}

.SensitivitySection svg text.axis.label {
  fill: #3c4448;
  font-size: 1em;
  font-weight: 700;
}
