@import './styles/variables.css';

.dropDown-open {
  cursor: pointer;
}

.dropDown-relative{
  position: relative;
  float: left;
}

.dropDown {
  position:absolute;
  top: 100%;
  background-color: rgba(255,255,255,1);
  border-radius: 0.3em;
  min-width: 18em;
  margin-top: 2px;
  padding: 0.5em 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  z-index:10;
}

.dropDown.wide {
  min-width: 30em;
}

.dropDown.position-left {
  right: 0%;
}

.dropDown.position-right {
  left: 0%;
}

.dropDown h2 {
  color: #444;
  font-size: 1.3em;
  margin: 1em 0 0.5em;
}

.dropDown .ui.form textarea {
  font-size: 1.2em;
  background-color: $grey-1;
  margin-bottom: 2em;
}

.dropDown h3 {
  color: #888;
  font-weight: 200;
  margin: 0;
}

.dropDown .section {
  margin: 1em 0;
}

.dropDown .header-divider{
  padding: 0.5em 0 0.3em 1em;
  margin-bottom: 0.25em;
  float: left;
  width: 100%;
}

.dropDown a {
  cursor: pointer;
}

.dropDown hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid $grey-1;
}

.dropDown-content {
  width: 100%;
  position: relative;
}

.dropDown-header {
  text-align: center;
  margin: 0.25em 0 0.75em;
}

.dropDown .dropDown-content .dropDown-close {
  position: absolute;
  color: #888;
  top: 0;
  right: 0;
  padding-right: 10px;
  padding-top: 0px;
  font-size: 1.5em;
}

.dropDown .dropDown-content .dropDown-close:hover {
  color: #666;
}

.dropDown ol, ul{
  list-style: none;
  padding: 0;
  margin: 0 0 0.25em 0;
  float: left;
  width: 100%;
}

.dropDown li .row{
  margin: 0
}

.dropDown li .action{
  padding: 0.5em 0;
  border-radius: 0;
}

.dropDown-body.padded {
  padding: 0 1em;
}

.dropDown li .action.selected{
  background-color: $grey-1;
}

.dropDown li .action.selected .text{
}

.dropDown li a{
  width: 100%;
  float: left;
  font-size:1.25em;
}

.dropDown li .icons{
  text-align: center;
  color: $grey-2;
}

.dropDown li .icons img{
  width: 35px;
}

.dropDown li .text{
  color: #555;
  font-weight: bold;
}

.dropDown li a:hover{
  background-color: $blue-2;
}

