@import './styles/variables.css';

.dropDown-open {
  cursor: pointer;
}

.dropDown-relative{
  position: relative;
  float: left;
}

.dropDown {
  position:absolute;
  top: 100%;
  margin-top: 2px;
  z-index:10;
}

.dropDown.position-left {
  right: 0%;
}

.dropDown.position-right {
  left: 0%;
}
